@page "/contatos/create"
@inject BlazorSQLServer.Data.ApplicationDbContext DB
@using BlazorSQLServer.Data
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Contato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Contato" OnValidSubmit="AddContato" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Contato.Nome" class="form-control" /> 
                <ValidationMessage For="() => Contato.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Contato.Email" class="form-control" /> 
                <ValidationMessage For="() => Contato.Email" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/contatos">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Contato Contato { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddContato()
    {
        DB.Contatos.Add(Contato);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/contatos");
    }
}
